.navbar {
  background-color: transparent;
  color: black;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: black !important;
  color: white;
}

.additional-content {
  /* Add your styles here */
  margin-left: 5px; /* Example: Add some space between the logo and the new div */
  display: inline-block; /* Ensure it stays next to the logo */
  vertical-align: middle; /* Align it vertically with the logo */
}

.logo {
  height: 50px;
}

@media (max-width: 767px) {
  .logo {
    height: 20px;
  }
}

.hidden-button-username-modal {
  display: none;
}

.custom-header-btn-title {
  background: #ffffff !important; /* Example dark blue, change as needed */
  border: 2px solid #fff !important;
  color: #1c3d88 !important;
  font-size: 1.25rem !important; /* Larger font */
}
.custom-header-btn-title:hover,
.custom-header-btn-title:focus {
  background: #1c3d88 !important; /* Slightly darker on hover */
  color: #ffffff !important;
}

.custom-header-icon {
  font-size: 2rem !important; /* Bigger icon */
  vertical-align: middle;
}
