.main-container {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

.card-width {
  width: 80% !important;
}

.text-danger {
  color: red;
  font-size: 0.875rem;
}

.cont-main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.cont-checkbox {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: transform var(--transition);
  background: white;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  &:active {
    transform: scale(0.9);
  }
  input {
    display: none;
    &:checked + label {
      opacity: 1;
      box-shadow: 0 0 0 3px var(--background);
      .cover-checkbox {
        opacity: 1;
        transform: scale(1);
        svg {
          stroke-dashoffset: 0;
        }
      }
      img {
        -webkit-filter: none;
        filter: none;
      }
    }
  }
  label {
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.6;
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .cover-checkbox {
      position: absolute;
      right: 5px;
      top: 3px;
      z-index: 1;
      width: 23px;
      height: 23px;
      background: var(--box-shadow);
      transition: transform var(--transition),
        opacity calc(var(--transition) * 1.2) linear;
      opacity: 0;
      transform: scale(0);
    }
    .info {
      text-align: center;
      margin-top: 0.2rem;
      font-weight: 600;
      font-size: 0.8rem;
    }

    .subtitle {
      font-size: 0.85em;
      color: #888;
      margin-top: 0.2em;
    }
  }
}

:host ::ng-deep p-step-panels {
  height: 100% !important;
}

@media (max-width: 768px) {
  :host ::ng-deep p-step {
    padding: 0 !important;
  }
}

.form-control {
  height: 3rem; /* Adjust as needed */
  font-size: 1.1rem; /* Optional: make text a bit larger */
}

.form-select {
  height: 3rem;
  font-size: 1.1rem;
}

.display-huge {
  font-weight: 900 !important;
  color: #1c3d88;
}

::ng-deep .p-step-title {
  color: #1c3d88 !important;
}

::ng-deep .p-step-number {
  color: #1c3d88 !important;
}

::ng-deep .p-stepper-separator {
  background-color: #1c3d88 !important;
}
