<section
  class="d-flex justify-content-center align-items-center main-container"
>
  <div class="card d-flex justify-content-center card-width card-height p-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <ng-container *ngIf="subsType >= 1 && subsType <= 3">
            <h2 class="display-huge mb-2">
              {{ planInfo[subsType - 1].label }}
            </h2>
            <h3 class="mb-5 fw-light">
              ${{ planInfo[subsType - 1].price }}
              <span style="font-size: 1.2rem; font-weight: 400">/mes</span>
            </h3>
          </ng-container>
        </div>
      </div>
    </div>
    <p-stepper [(value)]="activeIndex" class="h-100">
      <p-step-list>
        <p-step [value]="0" [disabled]="!isStepValid(0)">
          {{ isMobile ? "" : "¿Cómo te gustaría tu café?" }}
        </p-step>
        <p-step [value]="1" [disabled]="!isStepValid(1)">
          {{ isMobile ? "" : "¿Dónde entregamos tu café?" }}
        </p-step>
        <p-step [value]="2" [disabled]="!isStepValid(2)">
          {{ isMobile ? "" : "¿Quién recibirá tu café?" }}
        </p-step>
        <p-step [value]="3" [disabled]="!isStepValid(3)">
          {{ isMobile ? "" : "Tu pago" }}
        </p-step>
      </p-step-list>
      <p-step-panels>
        <!-- Paso 0 -->
        <p-step-panel [value]="0">
          <ng-template #content let-activateCallback="activateCallback">
            <div
              class="d-flex flex-column h-100 justify-content-center align-items-center text-center"
            >
              <h3 class="py-3 mb-2">¿Cuál es tu nivel de molido preferido?</h3>
              <div class="cont-main">
                <div
                  class="cont-checkbox"
                  *ngFor="let option of roastOptions; index as i"
                >
                  <input
                    type="radio"
                    name="roast"
                    [id]="'roast-' + i"
                    [value]="option.id_product_f_cuerpo_types"
                    (change)="selectRoast(option.id_product_f_cuerpo_types)"
                    [checked]="
                      selectedRoast === option.id_product_f_cuerpo_types
                    "
                  />
                  <label [for]="'roast-' + i">
                    <img [src]="option.image_radio" [alt]="option.value" />
                    <span class="cover-checkbox">
                      <svg viewBox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                      </svg>
                    </span>
                    <div class="info">
                      {{ option.value }}
                      <div class="subtitle text-muted small">
                        {{ option.subtitle }}
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div *ngIf="!selectedRoast && submitted" class="text-danger">
                Por favor selecciona un nivel de tueste.
              </div>
              <div class="d-flex justify-content-end w-100 pt-6 mt-3">
                <button
                  type="button"
                  class="btn btn-light me-1"
                  (click)="cancelStep()"
                >
                  <ng-container *ngIf="isMobile; else atrasText1">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </ng-container>
                  <ng-template #atrasText1>
                    <fa-icon [icon]="faTimes"></fa-icon> Cancelar
                  </ng-template>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="nextStep(activateCallback, 1)"
                  [disabled]="!selectedRoast"
                >
                  <ng-container *ngIf="isMobile; else siguienteText0">
                    <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                  </ng-container>
                  <ng-template #siguienteText0>
                    Siguiente <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                  </ng-template>
                </button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Paso 1 -->
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div
              class="d-flex flex-column h-100 justify-content-center align-items-center"
            >
              <h3 class="py-3 mb-2">¿Dónde se entregará tu café?</h3>
              <form [formGroup]="addressForm" class="w-100">
                <!-- ...form fields... -->
                <div class="form-group mb-2">
                  <label for="address" class="mb-1"
                    >Dirección: <span class="text-danger">*</span></label
                  >
                  <div class="row">
                    <div class="col-md-4 mb-2">
                      <input
                        type="text"
                        id="address"
                        class="form-control"
                        formControlName="address"
                        placeholder="Calle"
                      />
                      <div
                        *ngIf="addressForm.get('address')?.invalid && submitted"
                        class="text-danger"
                      >
                        Dirección es requerida.
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                      <input
                        type="text"
                        id="extNumber"
                        class="form-control"
                        formControlName="extNumber"
                        placeholder="No ext"
                      />
                      <div
                        *ngIf="
                          addressForm.get('extNumber')?.invalid && submitted
                        "
                        class="text-danger"
                      >
                        Número exterior es requerido.
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                      <input
                        type="text"
                        id="intNumber"
                        class="form-control"
                        formControlName="intNumber"
                        placeholder="No int (opcional)"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="city" class="mb-1"
                    >Ciudad: <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="city"
                    class="form-control"
                    formControlName="city"
                    placeholder="Ej: Guadalajara"
                  />
                  <div
                    *ngIf="addressForm.get('city')?.invalid && submitted"
                    class="text-danger"
                  >
                    Ciudad es requerida.
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="state" class="mb-1">
                    Estado: <span class="text-danger">*</span>
                  </label>
                  <select
                    class="form-select"
                    id="state"
                    formControlName="state"
                    required
                  >
                    <option value="" selected disabled>Estado:</option>
                    <option value="AG">Aguascalientes</option>
                    <option value="BN">Baja California</option>
                    <option value="BS">Baja California Sur</option>
                    <option value="CP">Campeche</option>
                    <option value="CS">Chiapas</option>
                    <option value="CI">Chihuahua</option>
                    <option value="DF">Ciudad de Mexico</option>
                    <option value="CH">Coahuila</option>
                    <option value="CL">Colima</option>
                    <option value="DG">Durango</option>
                    <option value="GJ">Guanajuato</option>
                    <option value="GE">Guerrero</option>
                    <option value="HD">Hidalgo</option>
                    <option value="JA">Jalisco</option>
                    <option value="MX">Estado de Mexico</option>
                    <option value="MC">Michoacán</option>
                    <option value="MR">Morelos</option>
                    <option value="NA">Nayarit</option>
                    <option value="NL">Nuevo León</option>
                    <option value="OA">Oaxaca</option>
                    <option value="PU">Puebla</option>
                    <option value="QE">Querétaro</option>
                    <option value="QI">Quintana Roo</option>
                    <option value="SL">San Luis Potosí</option>
                    <option value="SI">Sinaloa</option>
                    <option value="SO">Sonora</option>
                    <option value="TB">Tabasco</option>
                    <option value="TA">Tamaulipas</option>
                    <option value="TL">Tlaxcala</option>
                    <option value="VC">Veracruz</option>
                    <option value="YU">Yucatán</option>
                    <option value="ZA">Zacatecas</option>
                  </select>
                  <div
                    *ngIf="addressForm.get('state')?.invalid && submitted"
                    class="text-danger"
                  >
                    Estado es requerido.
                  </div>
                </div>
                <div class="form-group mb-2">
                  <label for="zip" class="mb-1"
                    >Código Postal: <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="zip"
                    class="form-control"
                    formControlName="zip"
                    placeholder="Ej: 44100"
                  />
                  <div
                    *ngIf="addressForm.get('zip')?.invalid && submitted"
                    class="text-danger"
                  >
                    Código Postal es requerido.
                  </div>
                </div>
              </form>
              <div
                class="d-flex justify-content-between align-items-center w-100 pt-6 mt-3 gap-3"
              >
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="prevStep(activateCallback, 0)"
                >
                  <ng-container *ngIf="isMobile; else atrasText1">
                    <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
                  </ng-container>
                  <ng-template #atrasText1>
                    <fa-icon [icon]="faLongArrowAltLeft"></fa-icon> Atrás
                  </ng-template>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="nextStep(activateCallback, 2)"
                  [disabled]="addressForm.invalid"
                >
                  <ng-container *ngIf="isMobile; else siguienteText1">
                    <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                  </ng-container>
                  <ng-template #siguienteText1>
                    Siguiente <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                  </ng-template>
                </button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Paso 2 -->
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div
              class="d-flex flex-column h-100 justify-content-center align-items-center"
            >
              <h3>¿Quién recibirá el café?</h3>
              <form [formGroup]="recipientForm" class="w-100">
                <div class="form-group">
                  <label for="name"
                    >Nombre <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name"
                  />
                  <div
                    *ngIf="recipientForm.get('name')?.invalid && submitted"
                    class="text-danger"
                  >
                    Nombre es requerido.
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone"
                    >Teléfono <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="phone"
                    class="form-control"
                    formControlName="phone"
                  />
                  <div
                    *ngIf="recipientForm.get('phone')?.invalid && submitted"
                    class="text-danger"
                  >
                    Teléfono es requerido.
                  </div>
                </div>
              </form>
              <div
                class="d-flex justify-content-between align-items-center w-100 pt-6 mt-3 gap-3"
              >
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="prevStep(activateCallback, 1)"
                >
                  <ng-container *ngIf="isMobile; else atrasText2">
                    <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
                  </ng-container>
                  <ng-template #atrasText2>
                    <fa-icon [icon]="faLongArrowAltLeft"></fa-icon> Atrás
                  </ng-template>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="nextStep(activateCallback, 3)"
                  [disabled]="recipientForm.invalid"
                >
                  <ng-container *ngIf="isMobile; else siguienteText2">
                    <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                  </ng-container>
                  <ng-template #siguienteText2>
                    Siguiente <fa-icon [icon]="faLongArrowAltRight"></fa-icon>
                  </ng-template>
                </button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Paso 3 -->
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div
              class="d-flex flex-column h-100 justify-content-center align-items-center"
            >
              <h3>Revisar y Pagar</h3>
              <p>Revisa tu pedido y procede al pago.</p>
              <div class="d-flex justify-content-start gap-3 pt-6 mt-3 w-100">
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="prevStep(activateCallback, 2)"
                >
                  <ng-container *ngIf="isMobile; else atrasText3">
                    <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
                  </ng-container>
                  <ng-template #atrasText3>
                    <fa-icon [icon]="faLongArrowAltLeft"></fa-icon> Atrás
                  </ng-template>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onSubmit()"
                >
                  <ng-container *ngIf="isMobile; else pagarText">
                    <i class="pi pi-check"></i>
                  </ng-container>
                  <ng-template #pagarText>
                    Pagar <i class="pi pi-check"></i>
                  </ng-template>
                </button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
</section>
