<app-header [isMain]="true"></app-header>
<section
  class="d-flex justify-content-center align-items-center main-container pt-5 background-image"
  id="goTop"
>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div
      class="row d-flex align-items-center justify-content-center py-vh-5 mx-auto"
      style="width: 70%"
    >
      <div class="col-12 col-xl-10" id="target-element">
        <h1 class="display-huge mt-3 mb-3 lh-1 text-white">
          ENTREGAMOS, MEJORES MAÑANAS
        </h1>
      </div>
      <div class="col-12 col-xl-8">
        <p class="lead text-secondary handwriting-animation text-white">
          Descubre el café que te encanta tomar todos los días.
        </p>
      </div>
      <div class="col-12 text-center mt-5">
        <button class="btn btn-primary btn-lg">Suscribeté</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
