.main-container {
  position: relative;
  padding-bottom: 20vh;
  padding-top: 10vh !important;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-container {
    padding-top: 0vh !important;
    padding-bottom: 0vh !important;
    height: 100vh;
  }
}

.icon-responsive {
  font-size: 2.5rem; /* Default size */
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
}

.list-group-item {
  border-bottom: none !important;
  padding-bottom: 1rem;
}

.display-huge {
  font-weight: 900 !important;
  color: #1c3d88;
}

.landing-hero-img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem !important;
}

@media (max-width: 768px) {
  .landing-hero-img {
    max-width: 180px;
    margin-bottom: 0rem !important;
  }
}

@media (max-width: 767.98px) {
  .display-huge {
    font-size: 1.5rem !important;
  }
  .container.py-5 .row > div > p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  .container.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

.step-card {
  min-height: 220px;
  height: 100%;
  min-width: 320px;
  max-width: 370px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin: 0 8px;
}

@media (max-width: 991.98px) {
  .step-card {
    min-width: 260px;
    max-width: 100%;
    margin: 0 0 24px 0;
  }
}

.step-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1c3d88;
  line-height: 1;
}

.step-icon {
  font-size: 2.5rem;
  color: #795548;
}

@media (max-width: 767.98px) {
  .step-card {
    min-height: 220px;
    padding: 2rem 1rem;
  }
  .step-number,
  .step-icon {
    font-size: 2rem;
  }
}

.subscription-card {
  border-radius: 2rem;
  border: 1px solid #fff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  min-width: 260px;
  max-width: 340px;
}
.subscription-card hr {
  opacity: 0.3;
}
.subscription-card .btn-warning {
  background: #ffc233;
  color: #222;
  font-size: 1.15rem;
  border: none;
}
.subscription-card .btn-warning:hover {
  background: #ffb300;
  color: #222;
}

.py-5-subs-cards {
  padding-top: 9rem !important;
  padding-bottom: 9.5rem !important;
}
