<app-header *ngIf="!isSuscribtionPage" [isMain]="true"></app-header>
<section
  *ngIf="!isSuscribtionPage"
  class="d-flex justify-content-center align-items-center main-container pt-5"
>
  <app-pricing-cards
    [isMain]="false"
    (openWizard)="goToSuscribtionPage($event)"
  ></app-pricing-cards>
</section>
<app-footer *ngIf="!isSuscribtionPage"></app-footer>
<app-coffee-wizard
  *ngIf="isSuscribtionPage"
  [subsType]="subsType"
  [wizard]="wizard"
  [user]="user"
  (cancelWizard)="isSuscribtionPage = false"
></app-coffee-wizard>
