.main-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .main-container {
    padding: 0 !important;
    height: auto !important;
    min-height: 100vh !important;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}
